*{
    margin:0%;
    padding:0%;

}

.main{

    width: 100%;
    height: 100vh;
    
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 10px;
    
}

.card1{

    background-color: brown;
    border: 1px solid  green; 
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}

.card{

    background-color: brown;
    border: 1px solid  green; 
    
}